
        body {
    background-color: #c1c8e4;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}

#rcorners2 {
    border-radius: 25px;
    background: url(https://www.desktopbackground.org/download/1366x768/2013/11/26/675853_plain-light-blue-backgrounds-wallpaper-plain-hd-wallpaper-light_1920x1080_h.jpg);
    padding: 30px; 
    width: 20%;
    margin-right: 30%;
    text-align: center;
    font-size: 19;
}

#rcorners3 {
    background-color: #84ceeb;
    border-radius: 25px;
    padding: 30px; 
    margin-top: -26%;  
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    text-align: left;
    float: right;
  }

  #rcorners4 {
    border-radius: 25px;
    background: url(https://www.desktopbackground.org/download/1366x768/2013/11/26/675853_plain-light-blue-backgrounds-wallpaper-plain-hd-wallpaper-light_1920x1080_h.jpg);
    padding: 30px; 
    margin-left: 40%;
    width: 20%;  
    font-size: 19;
    text-align: center;
    float: right;
  }


#rcorners5 {
    border-radius: 25px;
    background-color: #84ceeb;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px; 
    width: 65%;
    margin-right: 5%;
    margin-top: -30%;
    text-align: left;
    font-size: 20;
    float: left;
}

#rcorners6 {
    border-radius: 25px;
    background-color: #5680e9;
    padding: 30px; 
    width: 26%;  
    font-size: 19;
    text-align: center;
  }

#rcorners7 {
    border-radius: 25px;
    background-color: #5680e9;
    padding: 30px; 
    width: 20%;
    text-align: center;
    font-size: 19;
    margin-top: -7%;
    float: right;
}

#rcorners9 {
    border-radius: 25px;
    background-color: #5680e9;
    padding: 30px;   
    font-size: 19;
    text-align: center;
    margin-top: 3%;
  }

  #rcorners10 {
    background-color: #8860d0;
    padding: 30px;   
    font-size: 19;
    text-align: center;
  }

  #rcorners11 {
    background-color: #8860d0;
    padding: 30px;   
    font-size: 19;
    text-align: center;
  }

  #rcorners12 {
    border-radius: 25px;
    background-color: #5680e9;
    padding: 30px;   
    font-size: 19;
    text-align: center;
    margin-top: 5%;
  }


.flip-box {
    background-color: transparent;
    width: 300px;
    height: 330px;
    margin-right: auto;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
  }

  #a52{
    width: 20%;
    height: 50%;
    margin-top: 2%;
    margin-left: 80%;
    float: right;
  }

  #link2{
    border-radius: 25px;
    background-color: #5680e9;
    padding: 30px; 
    width: 26%;  
    font-size: 19;
    text-align: center;
  }

  .css-button1 {
	font-family: Arial;
	color: #000000;
	font-size: 16px;
	border-radius: 5px;
	border: 1px #216bcc solid;
	background: linear-gradient(180deg, #63B8EE 5%, #925aeb 100%);
	text-shadow: 1px 1px 1px #528ecc;
	box-shadow: inset 1px 1px 2px 0px #bbdaf7;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
    margin-left: 3%;
    margin-top: 0%;
}


.css-button2 {
	font-family: Arial;
	color: #000000;
	font-size: 16px;
	border-radius: 5px;
	border: 1px #216bcc solid;
	background: linear-gradient(180deg, #63B8EE 5%, #925aeb 100%);
	text-shadow: 1px 1px 1px #528ecc;
	box-shadow: inset 1px 1px 2px 0px #bbdaf7;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
    margin-left: 83%;
    margin-top: 0%;
}
.css-button:hover {
	background: linear-gradient(180deg, #82e8c9 5%, #63B8EE 100%);
}
.css-button-icon {
	padding: 10px 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.css-button-text {
	padding: 10px 18px;
}

div{
  width: 60%;
  align-items: center;
  font-size: 18;
  font-family: open sans

}




    



  




