body{
    margin: 0;
    font-family: "century gothic";
    font-size: 12px;
    }
    
    .header{
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px 5px 0 0;
    height: 90px;
    }
    
    .title{
    font-size:350%;
    padding: 10px;
    text-align: center;
    color: #000;
    font-family: "open sans";
    }
    
    
    .content {
        background: #c1c8e4;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        text-align: center;
    }
    
    .contact-form {
        font-size: 20px;
        text-align: center;
        padding-top: 50px;
        font-weight: 500;
    }
    
    /*used to give container to the content*/
    @media (min-width:768px) {
        .content-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 800px;
            margin: auto;
            border: 1px;
        }
    }
    
    .form-control {
        width: 600px;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        color: black;
        font-size: 19px;
        margin-bottom: 16px;
    }
    
    form .submit {
        background: black;
        border-color: transparent;
        color: gold;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    
        form .submit:hover {
            background-color: white;
            color: black;
            cursor: pointer;
            border: 1px solid black;
        }
    
    
    .contact_container {
        text-align: center;
    }
    
        .contact_container h2 {
            color: var(--clr_light);
            font-weight: var(--fw-bold);
            margin: 20px auto;
            height: 58px;
        }
    
        .contact_container img {
            height: 40px;
            width: 40px;
            filter: invert(1);
            transition: 0.5s;
            margin: auto 10px;
        }
    
        .contact_container img:hover {
                transform: scale(1.5);
            }
    
    h1{
    font-size: 150%;
    }
    
    p{
    font-size: 100%;
    }

    
    
    .footer{
    background: #c1c8e4;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    font-size: 80%;
    padding: 25px;
    }